# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# Build outputs
dist/
types/

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Vite
/public/

# Other
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Refinery output
.refine/
